body {
	background-image: url("bg.png");
	margin: 0 20% 0 20%;
	border-left: solid grey 2px;
	border-right: solid grey 2px;
	font-family: Courier New, Arial Black, Verdana, Helvetica;
	
}

#heading {
	text-align: left;
	font-size: 150%;
	padding-top: 10px;
	
}
ul {
	list-style-type: none;
	line-height: 25px;
	margin-bottom: 0;
	border-bottom: double grey 3px;
	
}
.upper {
	font-size: 120%;
	padding-bottom: 5px;
	font-weight: bold;
}
.lower {
	font-size: 70%;
	font-weight: lighter; 
	
}
div {
	background-color: white;
	opacity: 1.0;
}
#summary {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 0;
	margin-bottom: 0;
}
h5 {
	font-size: 120%;
	padding-left: 3%;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-top: 0;
	text-align: left;

}
h6{
	font-size: 85%;
	font-weight: bold;

}
table {
	padding: 5px 3% 20px 3%;
	margin: auto;
	width: 100%;
	text-align: center;
}
.content {
	margin: 0 5% 0 5%;
	padding: 0 5% 0 5%;
	line-height: 1.5;
}